html {
font-family: sans-serif;
}

pre, img, table, p, blockquote, ul {
width: 50vw;
margin-left: 2em;
}

blockquote {
font-style: italic;
background: gainsboro;
padding: .5em;
/* font-family: monospace; */
}

pre {
background: darkslategray;
color: white;
padding: .5em;
margin-left: 2.5em;
white-space: pre-wrap;       /* Since CSS 2.1 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
border: solid black 1px;
padding: .5vw;
}

ol {
counter-reset: list;
}

ol > li {
list-style: none;
}

ol > li:before {
content: "[" counter(list) "] ";
counter-increment: list;
}